@page "/"

<div class="about-card">
    <img src="https://raw.githubusercontent.com/carocaro22/CaroNobre/refs/heads/master/wwwroot/images/profile.jpg" alt="Profile picture" class="profile-image" />

    <div class="about-text">
        <h1>About myself</h1>
        <p>
            Hey! I am Carolina. Originally from Brazil but living in Germany for a long time. I am an Engineer focused on embedded systems, real-time applications, and edge AI. I also enjoy some frontend development to complement my projects. I speak english, german and of course portuguese fluently. Passionate about low-level development. Outside of work, I engage in social dancing, outdoor activities, and maintaining an active lifestyle.
        </p>
    </div>
</div>

<div class="links-card">
    <h2>Link Tree</h2>

    <div class="links-container">
        <a>GitHub</a>
        <a>LinkedIn</a>
        <a>Instagram</a>
    </div>
</div>
