@page "/projects"

<div class="projects-grid">

    
    <a href="https://github.com/carocaro22/AURIX-Concurrency"
       target="_blank" 
       class="project-card">

        <img src="images/aurix.jpg" alt="Profile picture" class="profile-image" />
        <div class="project-content">
            <h3>Exploring Multicore Parallelism</h3>
            <p>Analysing tasks and concurrency on a single and multiple cores using an Aurix TC375LK.</p>
        </div>
    </a>

    <div class="project-card">
        https://via.placeholder.com/300x180

        <div class="project-content">
            <h3>Embedded AI (MAX78000)</h3>
            <p>Deploying lightweight ML models on ultra-low-power hardware.</p>
        </div>
    </div>

    <div class="project-card">
        https://via.placeholder.com/300x180

        <div class="project-content">
            <h3>Portfolio Website</h3>
            <p>This website built with Blazor and custom styling.</p>
        </div>
    </div>

</div>